.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100lvw;
  height: 100lvh;
  opacity: 0.15;
  font-family: Ephesis;
  font-size: var(--display);
  z-index: -1;
}
.bg > p {
  transform: rotate(-8deg);
  padding: 0 0.5em;
  background: linear-gradient(90deg, #f9a735 0%, #555 80%); 
  background-color: #f9a735;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  white-space: nowrap;
}
.firstText {
  position: absolute;
  top: 15%;
  left: 15%;
  color: var(--accent);
}
.lastText {
  position: absolute;
  top: 46%;
  left: 25%;
  color: var(--accent);
}