.calender {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 25%;
  margin-top: 0;
  padding: 0.8em 1.6em;
  border-radius: 15px;
}
.calender > li {
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  cursor: pointer;
}
.calender p {
  text-align: center;
}
.calender > li.active {
  border: none;
  background-color: #f9a73599;
  color: var(--gray-10);
  transition: all 400ms;
}

