.title {
  composes: title from './form.module.css'; 
}
.form {
  composes: form from './form.module.css';
}
.input {
  composes: input from './form.module.css';
}
.input::placeholder {
  color: var(--black);
  font-weight: 600;
  letter-spacing: 0.2em;
}
