.container {
  position: sticky;
  top: 50px;
  max-width: 110px;
  margin-left: auto;
  z-index: 100;
}
.topBtn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: 0.8em 0;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
}
.list {
  position: absolute;
  width: 100%;
  padding: 1px 0;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.4);
  transform-origin: right;
  transform: scaleX(0);
  opacity: 0;
  transition: all 600ms;
}
.list.open {
  transform: scaleX(1);
  opacity: 1;
}
.item {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1em 0;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-10);
  cursor: pointer;
}
svg {
  color: var(--gray-10);
}

