.list {
  display: flex;
  gap: 2em;
}
.link {
  pointer-events: revert;
  cursor: pointer;
  transition: all 600ms;
  &:hover{
    color: var(--accent);
    text-shadow: 5px 5px var(--black);
  }
}
.disable {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}