.container {
  position: relative;
  margin-top: var(--space-lg);
}
.title {
  font-size: var(--heading2);
  letter-spacing: 3px;
}
.slider {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  overflow: hidden;
}
.itemContainer {
  flex: 0 0 100%;
  text-align: center;
  padding: 50px 0 0;
  border-radius: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.5);
}
.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.5em;
}
.innerContainer {
  display: flex;
}
.textContainer {
  text-align: left;
}
.innerContainer > img {
  margin: 0 auto;
}
.rain {
  composes: rain from "./utils.module.css";
}
.tempText {
  font-size: 16px;
}
.max {
  composes: max from "./utils.module.css";
}
.min {
  composes: min from "./utils.module.css";
}
.btnContainer {
  position: absolute;
}
.snow {
  composes: snow from "./utils.module.css";
}
.button {
  position: absolute;
  top: 50%;
  /* width: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  aspect-ratio: 1/1; */
  font-size: 32px;
  z-index: 999;
  transform: scale(1.0);
}
.left {
  left: 0;
  &:hover{
    animation: scaleAnime 1000ms ease-in-out infinite;
  }
}
.right {
  right: 0;
  &:hover {
    animation: scaleAnime 1000ms ease-in-out infinite;
  }
}
@keyframes scaleAnime {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.0);
  }
}