.container {
  margin-top: var(--space-lg);
  color: var(--black);
  /* text-shadow: 0.5px 0.5px var(--white);  */
  letter-spacing: 0.1em;
}
.title {
  font-size: var(--heading2);
  text-shadow: 1px 1px var(--white);
  letter-spacing: 3px;
}
.outerContainer {
  composes: bg from "./utils.module.css";
}
.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  padding: 50px 0 0;
  
}
.flexContainer + .flexContainer {
  margin-top: var(--space-sm);
}
.contentsContainer {
  flex: 0 0 15%;
}
.innerContainer > img {
  margin: 0 auto;
}
.rain {
  color: var(--accent);
}
.tempText {
  font-size: 16px;
}
