.wrapper {
  width: 50%;
  margin: var(--space-sm) auto 0;
  padding: 40px 0;
  border-radius: 30px;
  background-color: rgba(255,255,255,0.5)
}
.wrapper > *{
  font-weight: 600;
  color: var(--black);
  letter-spacing: 0.1em;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: var(--space-xs);
}
.flexParagraph {
  display: flex;
  align-items: center;
}
.title {
  text-align: center;
  font-size: var(--heading2);
  color: var(--black);
}
.img {
  width: 10%;
  height: auto;
  margin: 0 auto;
}
.semiTitle {
  margin-top: 0.5em;
  text-align: center;
  font-size: var(--heading3);
}
.temp {
  text-align: center;
  font-size: var(--heading1);
  transform: scaleY(2.0);
}
.verticalText {
  writing-mode: vertical-lr;
}
.oblong {
  display: inline-block;
  transform: scaleY(2.0);
}
.max {
  composes: max from "./utils.module.css";
}
.min {
  composes: min from "./utils.module.css";
}