.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideBySide {
  display: flex;
  flex-direction: column;
}
.justifyCenter {
  composes: spaceBetween;
  justify-content: center;
}
@media (min-width: 768px) {
  .sideBySide {
    flex-direction: row;
    justify-content: space-between;
  }
}
.bg {
  margin-top: var(--space-lg);
  border-radius: 10px;
  background-color: #fff;
}
.max{
  color: #ff0000;
} 
.min{
  color: #000091;
}
.rain {
  color: #0097ca;
}
.snow {
  color: #01F5EB;
  font-weight: 600;
}