.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideBySide {
  display: flex;
  flex-direction: column;
}
.justifyCenter {
  composes: spaceBetween;
  justify-content: center;
}
@media (min-width: 768px) {
  .sideBySide {
    flex-direction: row;
    justify-content: space-between;
  }
}
.bg {
  margin-top: var(--space-lg);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(4px);
}